<!DOCTYPE html>
<html ng-app="fileViewer">
<head>
    <title>File viewer</title>
    <meta charset="utf-8" />

</head>
<body>
    <div ng-controller="filesController">

        <table>
            <tr>
                <th>
                    Less 10Mb
                </th>
                <th>
                    10-50Mb
                </th>
                <th>
                    More 100Mb
                </th>
            </tr>
            <tr>
                <th>
                    {{pathInfo.SmallFiles}}
                </th>
                <th>
                    {{pathInfo.MiddleFiles}}
                </th>
                <th>
                    {{pathInfo.BigFiles}}
                </th>
            </tr>
        </table>

        <h5>current path: {{pathInfo.RootPath}}</h5>
        <ul>
            <li ng-repeat="subNode in pathInfo.SubNodes">
                <a ng-href="#" ng-click="transite(subNode)">{{subNode}}</a>
            </li>
        </ul>
    </div>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>

    <script src="app.js"></script>
    <script src="services/filesService.js"></script>
    <script src="controllers/filesController.js"></script>

</body>
</html>
